* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", sans-serif;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: #646a55;
}

:root {
  background-color: #e5e5e5;
}

body {
  overflow: hidden;
}
@media (max-width: 710px) {
  body {
    overflow: auto;
  }
}

.dark {
  background-color: #1a1a1a;
}
.dark .container header .avatar {
  border: 2px solid #455940;
}
.dark .container header h1 {
  color: #d3eba1;
}
.dark .container header ul li {
  border: 1px solid #a9b68d;
  color: #a9b68d;
}
.dark .container header .caption {
  color: #a9b68d;
}
.dark .container header .toggle-buttons .settingsButton {
  border: none;
  background: transparent;
  color: #a9b68d;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
}
.dark .container header .toggle-buttons .settingsButton:hover:hover {
  opacity: 0.8;
}
.dark .container header .toggle-buttons button {
  padding: 0.1rem;
  width: 4rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.dark .container header .modal {
  background: #1a1a1a;
  border: 1px solid #a9b68d;
}
.dark .container header .modal-content p {
  color: #a9b68d;
}
.dark .container header .modal-content button {
  color: #a9b68d;
}
.dark .container header .modal-content button:hover {
  background: #222222;
}
.dark .container main .social {
  background: #455940;
  color: #a9b68d;
}
.dark .container main .social ul li a {
  border-bottom: 1px solid #646a55;
  color: #a9b68d;
}
.dark .container main .project-content {
  background: #455940;
  color: #a9b68d;
}
.dark .container main .project-content .title-content a {
  color: #d3eba1;
}
.dark .container main .project-content #repoContent img {
  border: 1px solid #d3eba1;
}
.dark .container main .project-content .repo-buttons a {
  border: 1px solid #d3eba1;
  background: #455940;
  color: #d3eba1;
}
.dark .container main .project-content .repo-buttons a:hover {
  background: #d3eba1;
  color: #1a1a1a;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  margin: 1.5rem 20vw;
}
@media (max-width: 710px) {
  .container {
    margin: 2rem 1rem;
  }
}
.container header {
  display: flex;
  gap: 1rem;
}
@media (max-width: 995px) {
  .container header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.container header .avatar {
  width: 100px;
  height: 100px;
  padding: 0px;
  border: 2px solid rgba(69, 89, 64, 0.2784313725);
  border-radius: 5px;
}
.container header h1 {
  font-size: 1.5rem;
  color: #514796;
}
.container header ul {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin-top: 5px;
}
.container header ul li {
  border: 1px solid #646a55;
  color: #646a55;
  font-size: 0.75rem;
  padding: 0.3rem;
}
.container header .caption {
  font-size: 1.125rem;
  color: #646a55;
}
.container header .toggle-buttons .settingsButton {
  border: none;
  background: transparent;
  color: #455940;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
}
@media (max-width: 710px) {
  .container header .toggle-buttons .settingsButton {
    margin: 0.8rem 0 0 0;
  }
}
.container header .toggle-buttons .settingsButton:hover:hover {
  opacity: 0.8;
}
.container header .toggle-buttons button {
  padding: 0.1rem;
  width: 4rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.container header .modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 3rem 2.3rem;
  padding: 0.4rem;
  width: 150px;
  background: #e5e5e5;
  border: 1px solid #455940;
  border-radius: 3px;
}
@media (max-width: 710px) {
  .container header .modal {
    margin: 3rem 1.6rem;
  }
}
.container header .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: initial;
  gap: 0.6rem;
}
.container header .modal-content p {
  color: #455940;
  font-size: 0.8rem;
  text-align: left;
}
.container header .modal-content button {
  border: none;
  background: transparent;
  color: #455940;
  cursor: pointer;
  text-align: left;
  padding: 0.2rem;
}
.container header .modal-content button:hover {
  background: #d6d6d6;
}
.container main {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}
@media (max-width: 995px) {
  .container main {
    flex-direction: column;
    align-items: center;
  }
}
.container main .social {
  background: rgba(69, 89, 64, 0.2784313725);
  color: #646a55;
  border-radius: 5px;
  margin: 5px 0;
  padding: 1rem;
  width: 100%;
}
.container main .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: initial;
}
.container main .social ul li a {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: #646a55;
  text-transform: uppercase;
  font-size: 0.875em;
  padding: 1rem 0;
  border-bottom: 1px solid #455940;
}
.container main .social ul li a:hover {
  opacity: 0.8;
}
@media (max-width: 995px) {
  .container main .social ul li .last-link {
    border-bottom: none;
  }
}
.container main .project-content {
  background: rgba(69, 89, 64, 0.2784313725);
  color: #646a55;
  border-radius: 5px;
  margin: 5px 0;
  padding: 1rem;
  width: 100%;
}
.container main .project-content .title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.container main .project-content .title-content a {
  font-size: 0.675rem;
  color: #514796;
}
.container main .project-content .title-content a:hover {
  opacity: 0.8;
}
.container main .project-content #repoContent img {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #455940;
  border-radius: 2px;
}
.container main .project-content #repoContent span {
  font-size: 0.85rem;
}
.container main .project-content .repo-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.container main .project-content .repo-buttons a {
  border: 1px solid #514796;
  background: rgba(69, 89, 64, 0.2784313725);
  color: #514796;
  padding: 0.3rem;
}
.container main .project-content .repo-buttons a:hover {
  background: #514796;
  color: #e5e5e5;
}

footer p {
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: #999999;
}

/*# sourceMappingURL=styles.css.map */
