* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", sans-serif;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: #646a55;
}

:root {
  background-color: #e5e5e5;
}

body {
  max-width: 97rem;
  margin: 0 auto;
}
@media (max-width: 786px) {
  body {
    overflow: auto;
  }
}

.dark {
  background-color: #1a1a1a;
}
.dark .container header .dataSpotify span {
  color: #a9b68d;
}
.dark .container header .time-and-date #date {
  color: #a9b68d;
}
.dark .container header .time-and-date #time {
  color: #d3eba1;
  text-shadow: rgba(211, 235, 161, 0.15) 0px 54px 55px, rgba(211, 235, 161, 0.25) 0px -12px 30px, rgba(211, 235, 161, 0.25) 0px 4px 6px, rgba(211, 235, 161, 0.15) 0px 12px 13px, rgba(211, 235, 161, 0.25) 0px -3px 5px;
}
.dark .container header .avatar {
  border: 2px solid #a9b68d;
}
.dark .container header h1 {
  color: #d3eba1;
}
.dark .container header ul li {
  border: 1px solid #a9b68d;
  color: #a9b68d;
}
.dark .container header .caption {
  color: #a9b68d;
}
.dark .container header .toggle-buttons .settingsButton {
  color: #a9b68d;
}
.dark .container header .toggle-buttons .settingsButton:hover:hover {
  opacity: 0.8;
}
.dark .container header .modal {
  background: #455940;
  border: 1px solid #a9b68d;
}
.dark .container header .modal-content p {
  color: #a9b68d;
  border-bottom: 1px solid #646a55;
}
.dark .container header .modal-content button {
  color: #a9b68d;
}
.dark .container header .modal-content button:hover {
  background: rgba(236, 236, 236, 0.062745098);
}
.dark .container main .top, .dark .container main .bottom, .dark .container main .project-content, .dark .container main .social {
  background: #455940;
  color: #a9b68d;
  border: 1px solid #a9b68d;
}
.dark .container main .project-content, .dark .container main .bottom {
  background: #455940;
  color: #a9b68d;
  border: 1px solid #a9b68d;
}
.dark .container main .project-content .title-content a, .dark .container main .bottom .title-content a {
  color: #d3eba1;
}
.dark .container main .project-content #lastProject img, .dark .container main .bottom #lastProject img {
  border: 1px solid #d3eba1;
  box-shadow: rgba(211, 235, 161, 0.15) 0px 54px 55px, rgba(211, 235, 161, 0.25) 0px -12px 30px, rgba(211, 235, 161, 0.25) 0px 4px 6px, rgba(211, 235, 161, 0.15) 0px 12px 13px, rgba(211, 235, 161, 0.25) 0px -3px 5px;
}
.dark .container main .project-content .repo-buttons a, .dark .container main .bottom .repo-buttons a {
  border: 1px solid #d3eba1;
  background: #455940;
  color: #d3eba1;
}
.dark .container main .project-content .repo-buttons a:hover, .dark .container main .bottom .repo-buttons a:hover {
  background: #d3eba1;
  color: #1a1a1a;
}
.dark .container main .social ul li a, .dark .container main .bottom a {
  color: #a9b68d;
}
.dark footer p {
  color: #455940;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  margin: 1.5rem 18vw;
}
@media (max-width: 995px) {
  .container {
    margin: 3rem 10vw;
  }
}
@media (max-width: 786px) {
  .container {
    margin: 3rem 8vw;
  }
}
@media (max-width: 425px) {
  .container {
    margin: 3rem 1rem;
  }
}
.container header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: initial;
  align-items: initial;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 786px) {
  .container header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.container header .time-and-date {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
}
.container header .time-and-date #date {
  font-size: 0.75rem;
  color: #1a1a1a;
}
@media (max-width: 995px) {
  .container header .time-and-date #date {
    font-size: 0.65rem;
  }
}
.container header .time-and-date #time {
  color: #514796;
  text-shadow: rgba(81, 71, 150, 0.15) 0px 54px 55px, rgba(81, 71, 150, 0.25) 0px -12px 30px, rgba(81, 71, 150, 0.25) 0px 4px 6px, rgba(81, 71, 150, 0.15) 0px 12px 13px, rgba(81, 71, 150, 0.25) 0px -3px 5px;
}
@media (max-width: 995px) {
  .container header .time-and-date #time {
    font-size: 0.75rem;
  }
}
.container header .dataSpotify {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
@media (max-width: 995px) {
  .container header .dataSpotify {
    left: 5.5rem;
    margin-top: 0.5rem;
  }
}
.container header .dataSpotify i {
  color: #1ed760;
}
.container header .dataSpotify span {
  font-size: 0.65rem;
  color: #1a1a1a;
}
@media (max-width: 995px) {
  .container header .dataSpotify span {
    font-size: 0.65rem;
  }
}
.container header .avatar {
  width: 100px;
  height: 100px;
  padding: 0px;
  border: 2px solid rgba(69, 89, 64, 0.2784313725);
  border-radius: 5px;
}
.container header h1 {
  font-size: 1.5rem;
  color: #514796;
}
.container header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: initial;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin-top: 5px;
}
@media (max-width: 786px) {
  .container header ul {
    justify-content: center;
  }
}
.container header ul li {
  border: 1px solid #646a55;
  color: #646a55;
  font-size: 0.65rem;
  padding: 0.3rem;
}
.container header .caption {
  font-size: 0.9rem;
  color: #646a55;
}
.container header .toggle-buttons .settingsButton {
  border: none;
  background: transparent;
  color: #455940;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem 0.5rem 0 0;
}
.container header .toggle-buttons .settingsButton:hover:hover {
  opacity: 0.8;
}
.container header .toggle-buttons button {
  font-size: 1.3rem;
  cursor: pointer;
}
.container header .modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem 1.8rem;
  padding: 0.4rem;
  width: 150px;
  background: #f1f1f1;
  border: 1px solid rgba(69, 89, 64, 0.2784313725);
  border-radius: 3px;
}
.container header .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: initial;
  gap: 0.6rem;
}
.container header .modal-content p {
  border-bottom: 1px solid rgba(69, 89, 64, 0.2784313725);
  color: #455940;
  font-size: 0.8rem;
  text-align: left;
  padding-bottom: 0.2rem;
}
.container header .modal-content button {
  border: none;
  background: transparent;
  color: #455940;
  cursor: pointer;
  text-align: left;
  padding: 0.2rem;
}
.container header .modal-content button:hover {
  background: rgba(170, 170, 170, 0.3019607843);
}
.container main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 786px) {
  .container main {
    align-items: center;
    gap: 0;
  }
}
.container main p {
  font-size: 0.875rem;
}
.container main .top, .container main .bottom, .container main .project-content, .container main .social {
  background: rgba(69, 89, 64, 0.2784313725);
  color: #646a55;
  border: 1px solid rgba(69, 89, 64, 0.2784313725);
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 100%;
}
.container main .center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: initial;
  gap: 1rem;
}
@media (max-width: 786px) {
  .container main .center {
    flex-direction: column;
  }
}
.container main .project-content .title-content, .container main .bottom .title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.container main .project-content .title-content a, .container main .bottom .title-content a {
  font-size: 0.675rem;
  color: #514796;
}
.container main .project-content .title-content a:hover, .container main .bottom .title-content a:hover {
  opacity: 0.8;
}
.container main .project-content #lastProject img, .container main .bottom #lastProject img {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #455940;
  border-radius: 2px;
  box-shadow: rgba(81, 71, 150, 0.15) 0px 54px 55px, rgba(81, 71, 150, 0.25) 0px -12px 30px, rgba(81, 71, 150, 0.25) 0px 4px 6px, rgba(81, 71, 150, 0.15) 0px 12px 13px, rgba(81, 71, 150, 0.25) 0px -3px 5px;
}
.container main .project-content #lastProject span, .container main .bottom #lastProject span {
  font-size: 0.85rem;
}
.container main .project-content .repo-buttons, .container main .bottom .repo-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.container main .project-content .repo-buttons a, .container main .bottom .repo-buttons a {
  border: 1px solid #514796;
  background: rgba(69, 89, 64, 0.2784313725);
  color: #514796;
  padding: 0.3rem;
}
.container main .project-content .repo-buttons a:hover, .container main .bottom .repo-buttons a:hover {
  background: #514796;
  color: #e5e5e5;
}
.container main .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: initial;
}
.container main .social ul li a {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: #646a55;
  font-size: 0.875em;
  padding: 1rem 0;
  border-bottom: 1px solid #646a55;
}
.container main .social ul li a:hover {
  opacity: 0.8;
}
@media (max-width: 786px) {
  .container main .social ul .last-link {
    border-bottom: none;
  }
}
.container main .bottom a:hover {
  opacity: 0.8;
}

footer p {
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: #999999;
  padding-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
