* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #e5e5e5;
  --primary-color: #45594047;
  --primary-color-dark: #3a414254;
  --text-color: #646a55;
  --text-color-secondary: #514796;
  --swicth-bg-url: url(./images/moon-stars.svg);
}

.dark {
  --primary-color: #455940;
  --primary-color-dark: #3a4142;
  --text-color: #a9b68d;
  --text-color-secondary: #d3eba1;
  background-color: #1a1a1a;
  --swicth-bg-url: url(./images/sun.svg);
}

body {
  height: 100vh;
}

body * {
  font-family: 'Silkscreen', sans-serif;
}


ul {
  list-style: none;

  margin-top: 5px;
}

a {
  text-decoration: none;
}

.container {
  margin: 2rem 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  display: flex;
  gap: 1rem;
}

header ul {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

header ul li {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 0.75rem;
  
  padding: 0.3rem;
}

img.avatar {
  width: 100px;
  height: 100px;
  padding: 0px;

  border: var(--primary-color) solid 2px;
  border-radius: 5px;
}

h1 {
  font-size: 1.5rem;
  color: var(--text-color-secondary);
}

p.caption {
  font-size: 1.125rem;
  color: var(--text-color);
}

#switch {
    position: relative;
    width: 64px;
    margin: 18px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--swicth-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}

#switch button {
  cursor: pointer;

  border: none;
}

.dark #switch button {
    animation: slide-in 0.2s forwards;

    cursor: pointer;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

main {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social ul li a {
  width: 15rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.875em;

  padding: 1rem 0;

  border-bottom: 1px solid var(--primary-color-dark);
  transition: background 400ms;
}

.social ul li a:hover {
  background: var(--primary-color-dark);
}

.project-content, .social {
  background: var(--primary-color);
  color: var(--text-color);
  
  border-radius: 5px;

  margin: 5px 0;
  padding: 1rem;
  width: 100%;
}

#repositories-list span {
  font-size: 0.85rem;
}

.repo-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.repo-buttons a {
  border: 1px solid var(--text-color-secondary);
  background: var(--primary-color);
  color: var(--text-color-secondary);

  padding: 0.3rem;
}

.repo-buttons a:hover {
  background: var(--text-color-secondary);
  color: #fff;
}

.dark .repo-buttons a:hover {
  color: #1a1a1a;
}

footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  color:  #999999;
}

footer img {
  width: 40px;
}

.powered-by {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 995px){
  header, main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer {
    margin-top: 100px;
  }
}

@media (max-width: 710px){
  .container {
    margin: 2rem 1rem;
  }
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
  }
}